html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #fcfcfc;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h3,
li {
  text-align: left;
}

.line-card {
  padding: 32px 40px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 32px;
  margin-bottom: 40px;
}

.card {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  min-height: 400px;
  box-shadow: 0 18px 80px #00000008, 0 7.51997px 33.4221px #00000005,
    0 4.02054px 17.869px #00000005, 0 2.25388px 10.0172px #00000004,
    0 1.19702px 5.32008px #00000003, 0 0.498106px 2.21381px #00000002;
  border-radius: 48px;
  box-sizing: border-box;
  background-color: #fff;
  padding: 40px;
  text-align: left;
}

.row {
  margin-bottom: 1rem;
}

button {
  border-radius: 16px;
  border: none;
  background: linear-gradient(180deg, #6c76f9 -15.62%, #5863f8 112.5%);
  color: #fcfcfc;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  transition: all 0.15s linear;
  box-shadow: 0 7px 7px #5863f80f, 0 4.53704px 4.09954px #5863f80c,
    0 2.6963px 2.22963px #5863f809, 0 1.4px 1.1375px #5863f808,
    0 0.57037px 0.57037px #5863f806, 0 0.12963px 0.275463px #5863f804;
}

input,
textarea {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border-radius: 32px;
  padding: 12px 24px;
  border-radius: 16px;
}

[disabled] {
  opacity: 0.5;
}
