.card {
  max-width: 100%;
}

input,
textarea {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border-radius: 32px;
  padding: 12px 24px;
  border-radius: 16px;
}
